@charset "UTF-8";

header {
    background-color: black;
    color: white;
    text-align: center;
    display: block;
}
header > h1{

    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
     }

 header a, footer a {
        
        color: white;
        text-decoration: none;
        font-weight: bolder;
}
header > p{
    padding-bottom: 50px;
}

    
* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1px;
    margin-inline-end: 0px;  
}


